.hub{
    -fx-background-color: 
        linear-gradient(#20262c, #16191d),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-border-color: #000000;
    -fx-border-width: 2;
}
.button {
    -fx-background-color:
        linear-gradient(#617184, #4c5867),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-padding: 5 22 5 22;
    -fx-border-color: #16191d;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: 
        linear-gradient(#414b58, #2b323b),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}

.button:pressed {
    -fx-background-color: 
        linear-gradient(#20262c, #16191d),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}
